
@dataform:registry=https://us-npm.pkg.dev/dataform-oss-build/compat-dbt-dev/
//us-npm.pkg.dev/dataform-oss-build/compat-dbt-dev/:always-auth=true
//us-npm.pkg.dev/dataform-oss-build/compat-dbt-dev/:_authToken=${DATAFORM_AUTH_TOKEN}
